<?php echo $header;?>

<!-- jPList js and css  -->
<link href="/static/jquery/jquery-plugins/jplist/css/jplist-core.min.css" rel="stylesheet" type="text/css" />
<script src="/static/jquery/jquery-plugins/jplist/js/jplist-core.min.js"></script>

<script src="/static/jquery/jquery-plugins/jplist/js/jplist.textbox-control.min.js"></script>
<link href="/static/jquery/jquery-plugins/jplist/css/jplist-textbox-control.min.css" rel="stylesheet" type="text/css" />

<!-- jplist pagination bundle -->
<script src="/static/jquery/jquery-plugins/jplist/js/jplist.pagination-bundle.min.js"></script>
<link href="/static/jquery/jquery-plugins/jplist/css/jplist-pagination-bundle.min.css" rel="stylesheet" type="text/css" />

<!-- jplist history bundle -->
<script src="/static/jquery/jquery-plugins/jplist/js/jplist.history-bundle.min.js"></script>
<link href="/static/jquery/jquery-plugins/jplist/css/jplist-history-bundle.min.css" rel="stylesheet" type="text/css" />

<!-- preloader -->
<script src="/static/jquery/jquery-plugins/jplist/js/jplist.preloader-control.min.js"></script>
<link href="/static/jquery/jquery-plugins/jplist/css/jplist-preloader-control.min.css" rel="stylesheet" type="text/css" />

<!-- filter dropdown control -->
<script src="/static/jquery/jquery-plugins/jplist/js/jplist.filter-dropdown-bundle.min.js"></script>
<script src="/static/jquery/jquery-plugins/jquery-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/jquery/jquery-plugins/jquery-upload/js/jquery.iframe-transport.js"></script>
<script src="/static/jquery/jquery-plugins/jquery-upload/js/jquery.fileupload.js"></script>
<link href="/static/bootstrap/css/bootstrap-switch.css" rel="stylesheet">
<script src="/static/bootstrap/js/bootstrap-switch.min.js"></script>
<script src="/static/mustache.0.7.2.js"></script>
<div class="container-fluid">
    <div class="row">
        <?php echo $slide_common;?>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">库存管理</h2>
            <div class="row">
                <div class="col-sm-8" style="margin-bottom: 20px;">
                    <div id="jplist-page-area" class="box jplist">

                        <!-- ios button: show/hide panel -->
                        <div class="jplist-ios-button">
                            <i class="fa fa-sort"></i>
                            jPList Actions
                        </div>

                        <!-- panel -->
                        <div class="jplist-panel box panel-top">
                            <div class="row">
                                <!--
                                <div class="text-filter-box">
                                    <input
                                            data-path=".title"
                                            data-button="#name-search-button"
                                            type="text"
                                            value=""
                                            placeholder="标题"
                                            data-control-type="textbox"
                                            data-control-name="name"
                                            data-control-action="filter"
                                            />

                                    <button
                                            type="button"
                                            id="name-search-button"  class="list-flush-button">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div
                                        class="jplist-drop-down"
                                        data-control-type="filter-drop-down"
                                        data-control-name="status"
                                        data-control-action="radio">

                                    <ul>
                                        <li><span data-path="">全部</span></li>
                                        <li><span data-path="0">禁用</span></li>
                                        <li><span data-path="1">启用</span></li>

                                    </ul>
                                </div>
                                -->
                                <button type="button"
                                        class="btn btn-primary"
                                        data-action="add"
                                        data-class="action" 
                                        data-url="<?php echo $actions['edit']; ?>"
                                        data-title="库存">新增</button>
                                <!-- reset button -->
                                <!--
                                <button
                                        style="margin-bottom: 10px;"
                                        type="button"
                                        class="jplist-reset-btn"
                                        data-control-type="reset"
                                        data-control-name="reset"
                                        data-control-action="reset">
                                    重置 &nbsp;<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                </button>
                                -->
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div
                                        class="jplist-drop-down"
                                        data-control-type="items-per-page-drop-down"
                                        data-control-name="paging"
                                        data-control-action="paging">
                                    <ul>
                                        <li><span data-number="20" data-default="true"> 每页 100 条 </span></li>
                                        <li><span data-number="50"> 每页 50 条 </span></li>
                                        <li><span data-number="100"> 每页 100 条 </span></li>
                                    </ul>
                                </div>

                                <!-- pagination results -->
                                <div
                                        class="jplist-label"
                                        data-type="Page {current} of {pages} 共 {all} 条"
                                        data-control-type="pagination-info"
                                        data-control-name="paging"
                                        data-control-action="paging">
                                </div>

                                <!-- pagination -->
                                <div
                                        class="jplist-pagination"
                                        data-control-type="pagination"
                                        data-control-name="paging"
                                        data-control-action="paging">
                                </div>

                                <!-- preloader for data sources -->
                                <div
                                        class="jplist-hide-preloader jplist-preloader"
                                        data-control-type="preloader"
                                        data-control-name="preloader"
                                        data-control-action="preloader">
                                    <img src="/static/jquery/jquery-plugins/jplist/img/common/ajax-loader-line.gif" alt="Loading..." title="Loading..." />
                                </div>
                            </div>
                        </div>

                        <!-- ajax content here -->
                        <div class=" row">
                            <table data-filter="#filter" class="table table-bordered table-hover" id="LIST" style="margin:0px;">
                                <thead>
                                <tr>
                                    <th  data-sort-ignore="true" style="text-align: center;" data-class="expand">ID</th>
                                    <th  data-sort-ignore="true" style="text-align: center;" data-class="expand">名称</th>
                                    <th  data-sort-ignore="true" style="text-align: center;" data-class="expand">到港</th>
                                    <th  data-sort-ignore="true" style="text-align: center;" data-class="expand">入库</th>
                                    <th  data-sort-ignore="true" style="text-align: center;" data-class="expand">配置</th>
                                    <th  data-sort-ignore="true" style="text-align: center;" data-class="expand">备注</th>
                                    <th  data-sort-ignore="true" style="text-align: center;" data-class="expand">显示</th>
                                    <th data-sort-ignore="true" style="text-align: center;">操作</th>
                                </tr>
                                </thead>
                                <tbody id="role_list_container">

                                </tbody>
                            </table>

                        </div>

                        <!-- no result found -->
                        <div class="box jplist-no-results text-shadow align-center jplist-hidden">
                            <p>暂无结果！</p>
                        </div>

                        <!-- ios button: show/hide panel -->
                        <div class="jplist-ios-button">
                            <i class="fa fa-sort"></i>
                            jPList Actions
                        </div>
                        <div class="jplist-panel box panel-bottom" style="margin: 0 0 20px 0">
                            <div
                                    class="jplist-drop-down"
                                    data-control-type="items-per-page-drop-down"
                                    data-control-name="paging"
                                    data-control-action="paging">

                                <ul>


                                    <li><span data-number="20" data-default="true"> 每页 20 条 </span></li>
                                    <li><span data-number="50"> 每页 50 条 </span></li>
                                    <li><span data-number="100"> 每页 100 条 </span></li>
                                </ul>
                            </div>

                            <!-- pagination results -->
                            <div
                                    class="jplist-label"
                                    data-type="Page {current} of {pages} 共 {all} 条"
                                    data-control-type="pagination-info"
                                    data-control-name="paging"
                                    data-control-action="paging">
                            </div>

                            <!-- pagination -->
                            <div
                                    class="jplist-pagination"
                                    data-control-type="pagination"
                                    data-control-name="paging"
                                    data-control-action="paging">
                            </div>

                            <!-- preloader for data sources -->
                            <div
                                    class="jplist-hide-preloader jplist-preloader"
                                    data-control-type="preloader"
                                    data-control-name="preloader"
                                    data-control-action="preloader">
                                <img src="/static/jquery/jquery-plugins/jplist/img/common/ajax-loader-line.gif" alt="Loading..." title="Loading..." />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <?php echo $footer;?>
        </div>
    </div>
</div>
<script>
    $(function(){
        function render_jplist(){
            var $list = $('#role_list_container')
                    , template = Mustache.compile($('#jplist-template').html());

            //init jplist with php + mysql data source, json and Mustache template
            $('#jplist-page-area').jplist({
                itemsBox: '.list'
                , itemPath: '.list-item'
                , panelPath: '.jplist-panel'
                , dataSource: {
                    type: 'server'
                    , server: {
                        //ajax settings
                        ajax: {
                            url: "<?php echo $actions['list'];?>"
                            , dataType: 'json'
                            , type: 'POST'
                            , data: {}
                        }
                    }
                    //render function for json + templates like Mustache, xml + xslt etc.
                    , render: function (dataItem, statuses) {
                        $list.html(template(dataItem.content));
                        //调用开关插件
                        $("input[name=display]").bootstrapSwitch();
                        $('input[name="display"]').on('switchChange.bootstrapSwitch', function(event, state) {
                            $.post(
                                    $(this).data('url'),
                                    {
                                        id: $(this).attr('data-id'),
                                        display: state ? 1 : 0
                                    },
                                    function(res){
                                        layer.msg(res.info, {icon:res.status});
                                        if(res.status == 0){
                                            global_flush_jplist();
                                        }
                                    }
                            );
                        });
                    }
                }

            });
        }

        render_jplist();
        //调用开关插件
        $("input[name=display]").bootstrapSwitch();
        layer.config({
            skin:'layer-ext-moon',
            extend:'skin/moon/style.css'
        });
        $('input[name="display"]').on('switchChange.bootstrapSwitch', function(event, state) {
            $.post(
                $(this).attr('data-url'),
                {
                    role_id: $(this).attr('data-id'),
                    display: state
                },
                function(res){
                    layer.msg(res.info, {icon:res.status});
                    if(res.status == 0){
                        global_flush_jplist();
                    }
                }
            );
        });

        $('form').submit(function(){
            $.post(
                $(this).attr('action'),
                $(this).serialize(),
                function(res){
                    layer.msg(res.info, {icon:res.status});
                    window.location.reload();
                }
            );
            return false;
        });

        $(document).off('click', "[data-class='action']").on('click', "[data-class='action']", function(){
            var current_action = $(this).attr('data-action');

            switch (current_action){
                case 'add':
                    layer.open({
                        type: 2,
                        title: $(this).attr('data-title'),
                        shadeClose: true,
                        shade: 0.8,
                        area: ['60%', '90%'],
                        content: $(this).attr('data-url'),
                        cancel:function(){
                            global_flush_jplist();
                        }
                    });
                    break;
                case 'edit':
                    layer.open({
                        type: 2,
                        title: $(this).attr('data-title'),
                        shadeClose: true,
                        shade: 0.8,
                        area: ['60%', '90%'],
                        content: $(this).attr('data-url'),
                        cancel:function(){
                            global_flush_jplist();
                        }
                    });
                    break;
                case 'save':
                    $.post(
                        $(this).attr('data-url'),
                        $('#form-add').serialize(),
                        function(res){
                            layer.msg(res.info, {icon:res.status});
                            if(res.status == 1){
                                global_flush_jplist();
                                $('#addForm').modal('hide');
                            }
                        }
                    );
                    break;
                case 'delete':
                    $.post(
                        $(this).attr('data-url'),
                        {id: $(this).attr('data-id')},
                        function(res){
                            layer.msg(res.info, {icon:res.status});
                        }
                    );
                default:
                    break;
            }
        });
    });
</script>

<!-- Mustache template -->
<script id="jplist-template" type="x-tmpl-mustache">
    {{#.}}
        <tr style="" data-id="tr_id_{{id}}">
            <td style="text-align: center;">{{id}}</td>
            <td style="text-align: center;">{{name}}</td>
            <td style="text-align: center;">{{to_airpot_day}}</td>
            <td style="text-align: center;">{{to_store_day}}</td>
            <td style="text-align: center;">{{#cfg_pdf_bool}}<a href="{{cfg_pdf_url}}" target="_blank">查看</a>{{/cfg_pdf_bool}}</td>
            <td style="text-align: center;">{{remark}}</td>
            <td style="text-align: center;">
                <div class="switch has-switch">
                    <input  data-on-text="启用" data-off-text="禁用" name="display" type="checkbox" {{#display_bool}}checked=""{{/display_bool}} data-id="{{id}}" data-url="<?php echo $actions['stop'];?>">
                </div>
            </td>
            <td style="text-align: center;">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" data-class="action" data-action="edit" data-url="<?php echo $actions['edit'];?>?id={{id}}" data-id="{{id}}" data-title="库存">编辑</button>
                    <!--<button type="button" class="btn btn-danger" data-class="action" data-action="delete" data-url="<?php echo $actions['delete'];?>" data-id="{{id}}">删除</button>-->
                </div>
            </td>
        </tr>
    {{/.}}
</script>

<script type="text/javascript">
//ajax上传图片
$("#fileupload-cfg_pdf").fileupload({
    autoUpload: true,
    url: "<?php echo $actions['upload'];?>",//文件上传地址，当然也可以直接写在input的data-url属性内
    success: function(res, textStatus, jqXHR){
        layer.msg(res.info, {icon:res.status});
        if(1 == res.status){
            $("#field_cfg_pdf").val(res.data);
        }
    }
});
</script>

