<!DOCTYPE html>

<html itemscope itemtype="http://schema.org/Article" class="no-js  ">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>劳斯莱斯汽车</title>
    <meta name="title" content="劳斯莱斯汽车" />
    <meta
      name="description"
      content="欢迎访问劳斯莱斯汽车官网，品鉴劳斯莱斯（Rolls-Royce）车型及传奇故事，探索伟大汽车品牌的非凡魅力。"
    />
    <meta name="keywords" />
    <meta property="og:title" content="劳斯莱斯汽车" />
    <meta
      property="og:description"
      content="欢迎访问劳斯莱斯汽车官网，品鉴劳斯莱斯（Rolls-Royce）车型及传奇故事，探索伟大汽车品牌的非凡魅力。"
    />
    <meta
      property="og:url"
      content="http://www.rolls-roycemotorcars.com.cn/content/rollsroyce-website/market-cn/zh-CN/home.html"
    />
    <meta
      property="og:image"
      content="http://www.rolls-roycemotorcars.com.cn/content/dam/rollsroyce-website/Ghost/ghost-ewb.png"
    />
    <meta
      property="og:image:secure_url"
      content="http://www.rolls-roycemotorcars.com.cn/content/dam/rollsroyce-website/Ghost/ghost-ewb.png"
    />
    <meta name="twitter:title" content="劳斯莱斯汽车" />
    <meta
      name="twitter:description"
      content="欢迎访问劳斯莱斯汽车官网，品鉴劳斯莱斯（Rolls-Royce）车型及传奇故事，探索伟大汽车品牌的非凡魅力。"
    />
    <meta
      name="twitter:url"
      content="http://www.rolls-roycemotorcars.com.cn/content/rollsroyce-website/market-cn/zh-CN/home.html"
    />
    <meta
      name="twitter:image"
      content="http://www.rolls-roycemotorcars.com.cn/content/dam/rollsroyce-website/Ghost/ghost-ewb.png"
    />
    <meta itemprop="name" content="劳斯莱斯汽车" />
    <meta
      itemprop="description"
      content="欢迎访问劳斯莱斯汽车官网，品鉴劳斯莱斯（Rolls-Royce）车型及传奇故事，探索伟大汽车品牌的非凡魅力。"
    />
    <meta
      itemprop="image"
      content="http://www.rolls-roycemotorcars.com.cn/content/dam/rollsroyce-website/Ghost/ghost-ewb.png"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/etc/designs/rollsroyce-website/assets/img/favicon.png"
    />
    <link
      rel="alternate"
      hreflang="en-gb"
      href="http://www.rolls-roycemotorcars.com.cn/en-GB/market-cn/zh-CN/home.html"
    />
    <link
      rel="alternate"
      hreflang="en-us"
      href="http://www.rolls-roycemotorcars.com.cn/en-US/market-cn/zh-CN/home.html"
    />
    <!-- apple specific -->
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="apple-touch-icon"
      href="/etc/designs/rollsroyce-website/assets/img/apple/apple-touch-icon-iphone.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/etc/designs/rollsroyce-website/assets/img/apple/touch-icon-ipad.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/etc/designs/rollsroyce-website/assets/img/apple/touch-icon-iphone-retina.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/etc/designs/rollsroyce-website/assets/img/apple/touch-icon-ipad-retina.png"
    />
    <!-- apple specific end -->
    <!-- android specific -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#0d1973" />
    <!-- end android specific -->
    <link
      rel="stylesheet"
      href="/etc/designs/rollsroyce-website/assets.23d116e23a74dc0d30ba61fd8e979c8d.css"
      type="text/css"
    />
  </head>

  <body>
    <noscript
      ><iframe
        src="//www.googletagmanager.com/ns.html?id=GTM-TNV8SK"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <?php echo $stock; ?>
  </body>
</html>
