.admin-yundun-loading {
    background: url("/static/images/ydloading.gif") no-repeat scroll center center transparent;
    display: block;
    height: 31px;
    padding:20px 0px;
    opacity: 0.8;
}

.common-input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

